@import 'mixins.scss';
@import 'vars.scss';
@import url('fonts.css');
@import url('reset.css');

body {
    font-family: 'Poppins';
}
* {
    font-family: 'Poppins';
}

.container {
    max-width: 1110px;
    padding: 0 15px;
    margin: 0 auto;
}
.logo {
    font-weight: 700;
    font-size: 24px;
    margin-left: 25px;
    position: relative;
    &::before {
        content: url('../img/logo-icon.svg');
        position: absolute;
        top: -10px;
        left: -35px;
        
    }
}
.header {
    &__top {
        padding: 45px 0;
        &-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    &__nav {
        ul {
            display: flex;
            justify-content: space-between;
            li {
                margin-left: 42px;
                a {
                    transition: color 0.5s;
                    &:hover {
                        color: #F78434;
                        transition: color, border-bottom 0.15s 0.1s;
                        border-bottom: 3px #F78434 solid ;
                    }
                }
                &:nth-child(1) {
                    margin-left:0;
                }
            }
        }
    }
    &__main {
        &-wrapper {
            display: flex;
            position: relative;
            .header__main-block {
                position: absolute;
                z-index: 2;
                top: 30%;
                &-p {
                    line-height: 27px;
                    margin: 25px 0 42px 0;
                    &--big-font {
                        line-height: 79px;
                        font-size: 54px;
                        font-weight: 700;
                    }
                }
                &-form {
                    box-shadow: 0px 17px 42px rgba(0, 0, 0, 0.12);
                    border-radius: 29px;
                    display: flex;
                    width: fit-content;
                    input,button {
                        border-radius: 29px;
                        border: none;
                        padding: 16px 0;
                        outline: none;
                    }input {
                        padding-left: 28px;
                        &::placeholder {
                            color: #BBBBBB;
                        }
                    }button {
                        padding: 18px 37px;
                        background-color: #F78434;
                        color: white;
                        font-weight: 700;
                    }
                    
                }
            }
            .header__img-block {
                position: relative;
                left: 51.3%;
            }
        }
    }
}
.brands {
    &__wrapper {
        padding: 70px 0;
        display: grid;
        grid-gap: 0 90px;
        grid-template-columns: repeat(auto-fit,minmax(180px,auto));
    }
}
.provide-info {
    p {
        color: #323232;

    }
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        max-width: 1420px;
    }
    &__img-wrapper {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(auto-fit,minmax(315px,auto)minmax(385px,auto));
        grid-auto-rows: 550px;
    }
    &__block-1 {
        background-image: url('../img/provide-block.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__block-2 {
        background-image: url('../img/provide-block2.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
    &__popup {
        display: inline-block;
        position: relative;
        top: 320px;
        left: 194px;
        padding: 32px 29px;
        padding-left: 80px;
        box-shadow: 4px 20px 42px -2px rgba(0, 0, 0, 0.12);
        border-radius: 15px;
        background-color: white;
        &::before {
            content: url('../img/popup.svg');
            position: absolute;
            left: 18px;
            top: 40px;
        }
        h3 {
            font-weight: 700;
        }
        p {
            line-height: 27px;
        }
    }
    &__block-3 {
        margin-left: 20%;
        max-width: 374px;
        &-wrapper {
        }
        h2 {
            font-size: 42px;
            line-height: 62px;
            font-weight: 700;
        }
        p {
            line-height: 27px;

            margin-top: 20px;
        }
        button {
            margin-top: 45px;

            border: none;
            font-weight: 700;
            background-color: #F78434;
            color: white;
            padding: 19px 39px;
            border-radius: 29px;
        }
    }
}