@import 'mixins.scss';
@import 'vars.scss';
@import url('fonts.css');
@import url('reset.css');

body {
    font-family: 'Poppins';
}
* {
    font-family: 'Poppins';
}

.container {
    width: 1110px;
    padding: 0 15px;
    margin: 0 auto;
}
.logo {
    font-weight: 700;
    font-size: 24px;
    margin-left: 25px;
    position: relative;
    &::before {
        content: url('../img/logo-icon.svg');
        position: absolute;
        top: -10px;
        left: -35px;
        
    }
}
.header {
    &__top {
        padding: 45px 0;
        &-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    &__nav {
        ul {
            display: flex;
            justify-content: space-between;
            li {
                margin-left: 42px;
                a {
                    transition: color 0.5s;
                    &:hover {
                        color: #F78434;
                        transition: color, border-bottom 0.15s 0.1s;
                        border-bottom: 3px #F78434 solid ;
                    }
                }
                &:nth-child(1) {
                    margin-left:0;
                }
            }
        }
    }
    &__main {
        &-wrapper {
            display: flex;
            position: relative;
            .header__main-block {
                position: absolute;
                z-index: 2;
                top: 30%;
                &-p {
                    line-height: 27px;
                    margin: 25px 0 42px 0;
                    &--big-font {
                        line-height: 79px;
                        font-size: 54px;
                        font-weight: 700;
                    }
                }
                &-form {
                    box-shadow: 0px 17px 42px rgba(0, 0, 0, 0.12);
                    border-radius: 29px;
                    display: flex;
                    width: fit-content;
                    input,button {
                        border-radius: 29px;
                        border: none;
                        padding: 16px 0;
                        outline: none;
                    }input {
                        padding-left: 28px;
                        &::placeholder {
                            color: #BBBBBB;
                        }
                    }button {
                        padding: 18px 37px;
                        background-color: #F78434;
                        color: white;
                        font-weight: 700;
                    }
                    
                }
            }
            .header__img-block {
                position: relative;
                left: 51.3%;
            }
        }
    }
}
