@font-face {
    font-family: 'Poppins';
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Poppins-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Poppins';
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/Poppins-Bold.woff') format('woff');
}